# Xcode
.DS_Store
.build/
DerivedData/
*.xcuserstate
xcuserdata/
*.swp
*~
_docs/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# IDEs
.vscode/
.idea/

# Release and signing
conveyor.sign.conf
conveyor.local.conf
developerID_application.cer
developerId_application.cer
*.p12
*.pem
.archive

# Build artifacts
build/
output/
output
node_modules/
*.app.tar.gz

# Environment
.env
.env.local

# Firebase
GoogleService-Info.plist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
